definitions:
  empiar.Imageset:
    properties:
      category:
        type: string
      data_format:
        type: string
      details:
        type: string
      directory:
        type: string
      frames_per_image:
        type: integer
      header_format:
        type: string
      image_height:
        type: integer
      image_width:
        type: integer
      micrographs_file_pattern:
        type: string
      name:
        type: string
      num_images_or_tilt_series:
        type: integer
      picked_particles_directory:
        type: string
      picked_particles_file_pattern:
        type: string
      pixel_height:
        type: number
      pixel_width:
        type: number
      voxel_type:
        type: string
    type: object
  onedep.CreatedDeposition:
    properties:
      depID:
        type: string
    type: object
  onedep.DepositionResponse:
    properties:
      bmrb_id:
        type: string
      code:
        type: string
      created:
        type: string
      email:
        type: string
      emdb_id:
        type: string
      errors:
        $ref: '#/definitions/onedep.OneDepError'
      experiments:
        description: FIX ME actual response type does not correspond to the documented.
      hold_exp_date:
        type: string
      id:
        type: string
      last_login:
        type: string
      message:
        type: string
      pdb_id:
        type: string
      site:
        type: string
      site_url:
        type: string
      status:
        $ref: '#/definitions/onedep.Status'
      title:
        type: string
    type: object
  onedep.FileResponse:
    properties:
      created:
        type: string
      errors:
        description: FIX ME actual response type does not correspond to the documented.
      id:
        type: integer
      metadata:
        additionalProperties: {}
        description: not there
        type: object
      name:
        description: not there
        type: string
      type:
        $ref: '#/definitions/onedep.OneDepType'
      warnings:
        description: FIX ME actual response type does not correspond to the documented.
    type: object
  onedep.OneDepError:
    properties:
      code:
        type: string
      extras:
        additionalProperties:
          items: {}
          type: array
        type: object
      message:
        type: string
    type: object
  onedep.OneDepType:
    enum:
    - add-map
    - co-cif
    - md-cif
    - co-pdb
    - fsc-xml
    - half-map
    - img-emdb
    - layer-lines
    - mask-map
    - nm-aux-amb
    - nm-aux-gro
    - nm-pea-any
    - nm-res-amb
    - nm-res-bio
    - nm-res-cha
    - nm-res-cns
    - nm-res-cya
    - nm-res-dyn
    - nm-res-gro
    - nm-res-isd
    - nm-res-oth
    - nm-res-ros
    - nm-res-syb
    - nm-res-xpl
    - nm-shi
    - nm-uni-nef
    - nm-uni-str
    - vo-map
    - xa-mat
    - xa-par
    - xa-top
    - xs-cif
    - xs-mtz
    type: string
    x-enum-varnames:
    - ADD_MAP
    - CO_CIF
    - MD_CIF
    - CO_PDB
    - FSC_XML
    - HALF_MAP
    - IMG_EMDB
    - LAYER_LINES
    - MASK_MAP
    - NM_AUX_AMB
    - NM_AUX_GRO
    - NM_PEA_ANY
    - NM_RES_AMB
    - NM_RES_BIO
    - NM_RES_CHA
    - NM_RES_CNS
    - NM_RES_CYA
    - NM_RES_DYN
    - NM_RES_GRO
    - NM_RES_ISD
    - NM_RES_OTH
    - NM_RES_ROS
    - NM_RES_SYB
    - NM_RES_XPL
    - NM_SHI
    - NM_UNI_NEF
    - NM_UNI_STR
    - VO_MAP
    - XA_MAT
    - XA_PAR
    - XA_TOP
    - XS_CIF
    - XS_MTZ
  onedep.RequestCreate:
    properties:
      coordinates:
        type: boolean
      country:
        type: string
      email:
        type: string
      jwtToken:
        type: string
      method:
        type: string
      orcidIds:
        items:
          type: string
        type: array
      password:
        type: string
    required:
    - country
    - email
    - jwtToken
    - method
    - orcidIds
    type: object
  onedep.ResponseType:
    properties:
      message:
        type: string
      status:
        type: string
    type: object
  onedep.Status:
    enum:
    - auco
    - auth
    - auxs
    - auxu
    - dep
    - hold
    - hpub
    - obs
    - polc
    - proc
    - rel
    - repl
    - reup
    - wait
    - wdrn
    type: string
    x-enum-varnames:
    - AUCO
    - AUTH
    - AUXS
    - AUXU
    - DEP
    - HOLD
    - HPUB
    - OBS
    - POLC
    - PROC
    - REL
    - REPL
    - REUP
    - WAIT
    - WDRN
info:
  contact: {}
  description: Rest API for communication between SciCat frontend and depositor backend.
    Backend service enables deposition of datasets to OneDep API.
  title: OpenEm Depositor API
  version: api/v1
paths:
  /empiar/metadata:
    post:
      consumes:
      - application/json
      description: NA
      parameters:
      - description: Scientific metadata as a JSON string; expects elements from OSCEM
          on the top level
        in: body
        name: scientificMetadata
        required: true
        schema:
          type: object
      produces:
      - application/json
      responses:
        "200":
          description: json file with metadata
          schema:
            $ref: '#/definitions/empiar.Imageset'
        "400":
          description: Error response
          schema:
            $ref: '#/definitions/onedep.ResponseType'
        "500":
          description: Internal server error
          schema:
            $ref: '#/definitions/onedep.ResponseType'
      summary: creates a json file with metadata for deposition to EMPIAR
      tags:
      - empiar
  /empiar/schema:
    get:
      consumes:
      - application/json
      description: NA
      produces:
      - application/json
      responses:
        "200":
          description: base64 encoded schema
          schema:
            type: string
        "400":
          description: Error response
          schema:
            $ref: '#/definitions/onedep.ResponseType'
        "500":
          description: Internal server error
          schema:
            $ref: '#/definitions/onedep.ResponseType'
      summary: creates a json file with metadata for deposition to EMPIAR
      tags:
      - empiar
  /onedep:
    post:
      consumes:
      - application/json
      description: Create a new deposition by uploading experiment and user details
        to OneDep API.
      parameters:
      - description: User information
        in: body
        name: request
        required: true
        schema:
          $ref: '#/definitions/onedep.RequestCreate'
      produces:
      - application/json
      responses:
        "201":
          description: Success response with Deposition ID
          schema:
            $ref: '#/definitions/onedep.DepositionResponse'
        "400":
          description: Error response
          schema:
            $ref: '#/definitions/onedep.ResponseType'
        "500":
          description: Internal server error
          schema:
            $ref: '#/definitions/onedep.ResponseType'
      summary: Create a new deposition to OneDep
      tags:
      - onedep
  /onedep/{depID}/file:
    post:
      consumes:
      - multipart/form-data
      description: Uploading file, and metadata to OneDep API.
      parameters:
      - description: Deposition ID to which a file should be uploaded
        in: path
        name: depID
        required: true
        type: string
      - collectionFormat: multi
        description: File to upload
        in: formData
        items:
          type: file
        name: file
        required: true
        type: array
      - description: File metadata as a JSON string
        in: formData
        name: fileMetadata
        required: true
        type: string
      - description: JWT token for OneDep API
        in: formData
        name: jwtToken
        required: true
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: File ID
          schema:
            $ref: '#/definitions/onedep.FileResponse'
        "400":
          description: Error response
          schema:
            $ref: '#/definitions/onedep.ResponseType'
        "500":
          description: Internal server error
          schema:
            $ref: '#/definitions/onedep.ResponseType'
      summary: Add file, pixel spacing, contour level and description to deposition
        in OneDep
      tags:
      - onedep
  /onedep/{depID}/metadata:
    post:
      consumes:
      - multipart/form-data
      description: Uploading metadata file to OneDep API. This is created by parsing
        the JSON metadata into the converter.
      parameters:
      - description: Deposition ID to which a file should be uploaded
        in: path
        name: depID
        required: true
        type: string
      - description: JWT token for OneDep API
        in: formData
        name: jwtToken
        required: true
        type: string
      - description: Scientific metadata as a JSON string; expects elements from OSCEM
          on the top level
        in: formData
        name: scientificMetadata
        required: true
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: File ID
          schema:
            $ref: '#/definitions/onedep.FileResponse'
        "400":
          description: Error response
          schema:
            $ref: '#/definitions/onedep.ResponseType'
        "500":
          description: Internal server error
          schema:
            $ref: '#/definitions/onedep.ResponseType'
      summary: Add a cif file with metadata to deposition in OneDep
      tags:
      - onedep
  /onedep/{depID}/pdb:
    post:
      consumes:
      - multipart/form-data
      description: Uploading file to OneDep API.
      parameters:
      - description: Deposition ID to which a file should be uploaded
        in: path
        name: depID
        required: true
        type: string
      - description: JWT token for OneDep API
        in: formData
        name: jwtToken
        required: true
        type: string
      - description: File to upload
        in: formData
        name: file
        required: true
        type: file
      - description: Scientific metadata as a JSON string; expects elements from OSCEM
          on the top level
        in: formData
        name: scientificMetadata
        required: true
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: File ID
          schema:
            $ref: '#/definitions/onedep.FileResponse'
        "400":
          description: Error response
          schema:
            $ref: '#/definitions/onedep.ResponseType'
        "500":
          description: Internal server error
          schema:
            $ref: '#/definitions/onedep.ResponseType'
      summary: Add coordinates and description to deposition in OneDep
      tags:
      - onedep
  /onedep/{depID}/process:
    post:
      consumes:
      - application/json
      description: Process a deposition in OneDep API.
      parameters:
      - description: Deposition ID to which a file should be uploaded
        in: path
        name: depID
        required: true
        type: string
      - description: JWT token for OneDep API
        in: formData
        name: jwtToken
        required: true
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: Deposition ID
          schema:
            $ref: '#/definitions/onedep.CreatedDeposition'
        "400":
          description: Error response
          schema:
            $ref: '#/definitions/onedep.ResponseType'
        "500":
          description: Internal server error
          schema:
            $ref: '#/definitions/onedep.ResponseType'
      summary: Process deposition to OneDep
      tags:
      - onedep
  /onedep/metadata:
    post:
      consumes:
      - application/json
      description: Downloading a metadata file. Invokes converter and starts download.
      parameters:
      - description: Scientific metadata as a JSON string; expects elements from OSCEM
          on the top level
        in: body
        name: scientificMetadata
        required: true
        schema:
          type: object
      produces:
      - application/octet-stream
      responses:
        "200":
          description: OK
          schema:
            type: file
        "400":
          description: Error response
          schema:
            $ref: '#/definitions/onedep.ResponseType'
        "500":
          description: Internal server error
          schema:
            $ref: '#/definitions/onedep.ResponseType'
      summary: Get a cif file with metadata for manual deposition in OneDep
      tags:
      - onedep
  /onedep/pdb:
    post:
      consumes:
      - multipart/form-data
      description: Downloading a metadata file. Invokes converter and starts download.
      parameters:
      - description: Scientific metadata as a JSON string; expects elements from OSCEM
          on the top level
        in: formData
        name: scientificMetadata
        required: true
        type: string
      - description: File to upload
        in: formData
        name: file
        required: true
        type: file
      produces:
      - application/octet-stream
      responses:
        "200":
          description: OK
          schema:
            type: file
        "400":
          description: Error response
          schema:
            $ref: '#/definitions/onedep.ResponseType'
        "500":
          description: Internal server error
          schema:
            $ref: '#/definitions/onedep.ResponseType'
      summary: Get a cif file with metadata and coordinates for manual deposition
        in OneDep
      tags:
      - onedep
  /version:
    get:
      description: Create a new deposition by uploading experiments, files, and metadata
        to OneDep API.
      produces:
      - application/json
      responses:
        "200":
          description: Depositior version
          schema:
            type: string
        "400":
          description: Error response
          schema:
            type: string
      summary: Return current version
      tags:
      - version
swagger: "2.0"
