definitions:
  onedep.CreatedDeposition:
    properties:
      depID:
        type: string
    type: object
  onedep.RequestCreate:
    properties:
      country:
        type: string
      email:
        type: string
      jwtToken:
        type: string
      method:
        type: string
      orcidIds:
        items:
          type: string
        type: array
      password:
        type: string
    required:
    - country
    - email
    - jwtToken
    - method
    - orcidIds
    type: object
  onedep.ResponseType:
    properties:
      message:
        type: string
      status:
        type: string
    type: object
  onedep.UploadedFile:
    properties:
      FileID:
        description: add metadata?
        type: string
      depID:
        type: string
    type: object
info:
  contact: {}
  description: Rest API for communication between SciCat frontend and depositor backend.
    Backend service enables deposition of datasets to OneDep API.
  title: OpenEm Depositor API
  version: api/v1
paths:
  /onedep:
    post:
      consumes:
      - application/json
      description: Create a new deposition by uploading experiment and user details
        to OneDep API.
      parameters:
      - description: User information
        in: body
        name: request
        required: true
        schema:
          $ref: '#/definitions/onedep.RequestCreate'
      produces:
      - application/json
      responses:
        "200":
          description: Success response with Deposition ID
          schema:
            $ref: '#/definitions/onedep.CreatedDeposition'
        "400":
          description: Error response
          schema:
            $ref: '#/definitions/onedep.ResponseType'
        "500":
          description: Internal server error
          schema:
            $ref: '#/definitions/onedep.ResponseType'
      summary: Create a new deposition to OneDep
      tags:
      - deposition
  /onedep/:depID/file:
    post:
      consumes:
      - multipart/form-data
      description: Uploading file, and metadata to OneDep API.
      parameters:
      - description: Deposition ID to which a file should be uploaded
        in: formData
        name: depID
        required: true
        type: string
      - collectionFormat: multi
        description: File to upload
        in: formData
        items:
          type: file
        name: file
        required: true
        type: array
      - description: File metadata as a JSON string
        in: formData
        name: fileMetadata
        required: true
        type: string
      - description: JWT token for OneDep API
        in: formData
        name: jwtToken
        required: true
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: File ID
          schema:
            $ref: '#/definitions/onedep.UploadedFile'
        "400":
          description: Error response
          schema:
            $ref: '#/definitions/onedep.ResponseType'
        "500":
          description: Internal server error
          schema:
            $ref: '#/definitions/onedep.ResponseType'
      summary: Add file, pixel spacing, contour level and description to deposition
        in OneDep
      tags:
      - deposition
  /onedep/:depID/metadata:
    post:
      consumes:
      - application/json
      description: Uploading metadata file to OneDep API. This is created by parsing
        the JSON metadata into the converter.
      parameters:
      - description: Deposition ID to which a file should be uploaded
        in: formData
        name: depositionID
        required: true
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: File ID
          schema:
            $ref: '#/definitions/onedep.UploadedFile'
        "400":
          description: Error response
          schema:
            $ref: '#/definitions/onedep.ResponseType'
        "500":
          description: Internal server error
          schema:
            $ref: '#/definitions/onedep.ResponseType'
      summary: Add a cif file with metadata to deposition in OneDep
      tags:
      - deposition
  /onedep/:depID/pdb:
    post:
      consumes:
      - multipart/form-data
      description: Uploading file to OneDep API.
      parameters:
      - description: Deposition ID to which a file should be uploaded
        in: formData
        name: depositionID
        required: true
        type: string
      - description: JWT token for OneDep API
        in: formData
        name: token
        required: true
        type: string
      - collectionFormat: multi
        description: File to upload
        in: formData
        items:
          type: file
        name: file
        required: true
        type: array
      - description: File metadata as a JSON string
        in: formData
        name: fileMetadata
        required: true
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: File ID
          schema:
            $ref: '#/definitions/onedep.UploadedFile'
        "400":
          description: Error response
          schema:
            $ref: '#/definitions/onedep.ResponseType'
        "500":
          description: Internal server error
          schema:
            $ref: '#/definitions/onedep.ResponseType'
      summary: Add coordinates and description to deposition in OneDep
      tags:
      - deposition
  /onedep/:depID/process:
    post:
      consumes:
      - application/json
      description: Process a deposition in OneDep API.
      parameters:
      - description: Deposition ID to which a file should be uploaded
        in: formData
        name: depositionID
        required: true
        type: string
      - description: JWT token for OneDep API
        in: formData
        name: token
        required: true
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: Deposition ID
          schema:
            $ref: '#/definitions/onedep.CreatedDeposition'
        "400":
          description: Error response
          schema:
            $ref: '#/definitions/onedep.ResponseType'
        "500":
          description: Internal server error
          schema:
            $ref: '#/definitions/onedep.ResponseType'
      summary: Process deposition to OneDep
      tags:
      - deposition
  /version:
    get:
      description: Create a new deposition by uploading experiments, files, and metadata
        to OneDep API.
      produces:
      - application/json
      responses:
        "200":
          description: Depositior version
          schema:
            type: string
      summary: Return current version
      tags:
      - version
swagger: "2.0"
